@page "/fetchdata"

@using EasyRent.Data.Models
@using EasyRent.Data.Services
@using System.Net.Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<p>JSON: </p>

@code {

}
