@page "/"
<div style="text-align: center; margin-bottom: 2rem;">
    <img src="logo.svg" style="width: 40%; max-width:400px"/>
    </div>
        <div>
            <h1 style="margin: auto;
        text-align: center;
        margin-bottom: 2rem;
        font-size:84px;
">
                Easy Rent
            </h1>
            <div style="        width: 80%;
        margin: auto;
        text-align: justify; font-size:24px;
">
                <p>
                    EasyRent provides Property Management Software to help you manage your own rentals.
                </p>
                <p>
                    We assist Renters in finding their next perfect place, as well as provide online software to help Owners, Agents, and Managers save time and money with their Rental Property Management.
                </p>
                <p>

                    As a Renter finding your next rental has never been easier. Need assistance? One of our professional agents can assist you 24 hours a day, 7 days a week.

                </p>
                <p style="margin-bottom: 100px;">

                    As a Property Owner/Landlord, managing your Rental has never been easier. With our easy to use tools you can start managing your properties online in 5 minutes or less.<br />
                    -Online Rent Collection<br />
                    -Sign Leases Online<br />
                    -Expense Tracking<br />
                    -Work-order Tracking<br />
                    -Renters Insurance<br />
                    -Listing Syndication

                    and much more!
                </p>
            </div>
        </div>
