@using EasyRent.Data.Models
@using System.Net.Http;
@using System.Reflection;
@inject NotificationService NotificationService

<RadzenCard Data="@apt" Class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h3>Add Apartment To Rent</h3>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Bedrooms" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="Bedrooms" Min="0" @bind-Value="apt.bedrooms" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Suites" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="Suites" Min="0" @bind-Value="apt.suites" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Living Rooms" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="LivingRooms" Min="0" @bind-Value="apt.livingRooms" />
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Dinning Rooms" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="DinningRooms" Min="0" @bind-Value="apt.dinningRooms" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Floor" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="Floor" Min="0" @bind-Value="apt.floor" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Condominium Value" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="CondominiumValue" Min="0" @bind-Value="apt.condominiumValue" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Concierge Service" Style="margin-right: 5px" Component="ConciergeService" />
                </div>
                <div class="col-md-2">
                    <RadzenCheckBox @bind-Value="apt.conciergeService" TValue="bool" />
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Parking Spaces" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="ParkingSpaces" Min="0" @bind-Value="apt.parkingSpaces" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Area (m²)" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="Area" Min="0" @bind-Value="apt.area" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Imbued Closet" Style="margin-right: 5px" Component="ImbuedCloset" />
                </div>
                <div class="col-md-2">
                    <RadzenCheckBox @bind-Value="apt.imbuedCloset" TValue="bool" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Description" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="width: 100%;" Name="Description" @bind-Value="apt.description" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Owner" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="width: 100%;" Name="Owner" @bind-Value="apt.owner" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Rent Value" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="width: 50%;" Name="Rent Value" Min="0" @bind-Value="apt.rentValue" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="District" />
                </div>
                <div class="col-md-6">
                    <RadzenDropDown style="width:100%;" AllowClear="true" TValue="string" Data=@Constants.LISTADEBAIRROS TextProperty="Districts" ValueProperty="District" @bind-Value="apt.district" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Address" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="width: 100%;" Name="Owner" @bind-Value="apt.address" />
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Submit" ButtonStyle="ButtonStyle.Secondary" Click="@(async () => await Submit())" />
        </div>
    </div>
</RadzenCard>

@code {
    Apartment apt = new Apartment();
    HttpClient httpClient = new HttpClient();
    public void clearFields()
    {
        apt = new Apartment();
    }
    public async Task Submit()
    {
        if (!IsAnyNullOrEmpty(apt))
        {
            await httpClient.SendJsonAsync(HttpMethod.Post, "http://localhost:54781/apartment", apt);
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success", Detail = "Property submited!", Duration = 4000 });
        }
        else
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Warning, Summary = "Error", Detail = "Please fill all fields!", Duration = 4000 });

        clearFields();
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    bool IsAnyNullOrEmpty(Apartment p_apt)
    {
        foreach (PropertyInfo pi in p_apt.GetType().GetProperties())
        {
            if (pi.PropertyType == typeof(string) && pi.Name != "id")
            {
                string value = (string)pi.GetValue(p_apt);
                if (string.IsNullOrEmpty(value))
                {
                    return true;
                }
            }
        }
        return false;
    }
}