@using EasyRent.Data.Models
@using System.Net.Http;

@*<RadzenCard Data="@house" Style="width:1200px; margin-bottom: 20px; height:800px;">*@
<RadzenCard Data="@house" Class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h3>Add House To Rent</h3>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Bedrooms" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric Placeholder="0" style="width: 50%;" Name="Bedrooms" Min="0" @bind-Value="house.bedrooms" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Suites" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric Placeholder="0" style="width: 50%;" Name="Suites" Min="0" @bind-Value="house.suites" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Living Rooms" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric Placeholder="0" style="width: 50%;" Name="LivingRooms" Min="0" @bind-Value="house.livingRooms" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Parking Spaces" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric Placeholder="0" style="width: 50%;" Name="ParkingSpaces" Min="0" @bind-Value="house.parkingSpaces" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Area (m²)" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric Placeholder="0" style="width: 50%;" Name="Area" Min="0" @bind-Value="house.area" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Imbued Closet" Style="margin-right: 5px" Component="ImbuedCloset" />
                </div>
                <div class="col-md-2">
                    <RadzenCheckBox @bind-Value="house.imbuedCloset" TValue="bool" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Description" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="width: 100%;" Name="Description" @bind-Value="house.description" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center text-align-center d-flex col-md-2">
                    <RadzenLabel Text="Owner" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="width: 100%;" Name="Owner" @bind-Value="house.owner" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Rent Value" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric Placeholder="0" style="width: 50%;" Name="Rent Value" Min="0" @bind-Value="house.rentValue" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="District" />
                </div>
                <div class="col-md-6">
                    <RadzenDropDown style="width:100%;" AllowClear="true" TValue="string" Data=@Constants.LISTADEBAIRROS TextProperty="Districts" ValueProperty="District" @bind-Value="house.district" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="align-items-center d-flex col-md-2">
                    <RadzenLabel Text="Address" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="width: 100%;" Name="Owner" @bind-Value="house.address" />
                </div>
            </div>
        </div>
    </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Submit" ButtonStyle="ButtonStyle.Secondary" Click="@(async () => await Submit())" />
            </div>
        </div>
    </RadzenCard>

    @code {
        House house = new House();
        HttpClient httpClient = new HttpClient();
        public void clearFields()
        {
            house = new House();
        }
        public async Task Submit()
        {
            await httpClient.SendJsonAsync(HttpMethod.Post, "http://localhost:54781/house", house);
            clearFields();
        }

    }
